{% extends "dashboard/base.html" %}

{% block title %}
Servers | Ubuntu SQL Server Dashboard
{% endblock %}

{% block content %}

<h2>Registered Servers</h2>

{% if server_data %}
    {% for item in server_data %}
        <div class="card">

            <h2>
                <a href="{% url 'server_detail' item.server.id %}">
                    {{ item.server.hostname }}
                </a>
            </h2>

            {% if item.latest_health %}
                <p>
                    <strong>Statuus:</strong>
                    {{ item.latest_health.overall_staus }}
                </p>
            {% else %}
                <p>
                    <strong>Status:</strong>
                    No health data
                </p>
            {% endif %}

            <p><strong>Server ID:</strong> {{ item.server.id }}</p>
            <p><strong>IP Address:</strong> {{ item.server.ip_address }}</p>
            <p><strong>Operating System</strong> {{ item.server.operating_system }}</p>
            <p><strong>CPU:</strong> {{ item.server.cpu }}</p>
            <p><strong>Storage:</strong> {{ item.server.storage_gb }} GB</p>
            <p><strong>RAM:</strong> {{ item.server.ram_gb }} GB</p>
            <p><strong>GPU:</storng> {{ item.server.gpu }}</p>
            <p><strong>Motherboard:</strong> {{ item.server.motherboard }}</p>

            <p>
                <a href="{% url 'server_detail' item.server.id %}">
                    View Server Details
                </a>
            </p>

        </div>
    {% endfor %}
{% else %}
        <div class="card">
            <p>No registered servers found.</p>
        </div>
{% endif %}

{% endblock %}