{% extends "dashboard/base.html" %}

{% block title %}
Servers | Ubuntu SQL Server Dashboard
{% endblock %}

{% block content %}

<h2>Registered Servers</h2>

{% if servers %}
    {% for server in servers %}
        <div class="card">

            <h2>
                <a href="{% url 'server_detail' server.id %}">
                    {{ server.hostname }}
                </a>
            </h2>

            <p><strong>Server ID:</strong> {{ server.id }}</p>
            <p><strong>IP Address:</strong> {{ server.ip_address }}</p>
            <p><strong>Operating System</strong> {{server.operating_system }}</p>
            <p><strong>CPU:</strong> {{ server.cpu }}</p>
            <p><strong>Storage:</strong> {{ server.storage_gb }} GB</p>
            <p><strong>RAM:</strong> {{ server.ram_gb }} GB</p>
            <p><storng>GPU:</storng> {{ server.gpu }}</p>
            <p><strong>Motherboard:</strong> {{ server.motherboard }}</p>

            <p>
                <a href="{% url 'server_details' server.id %}">
                    View Server Details
                </a>
            </p>

        </div>
    {% endfor %}
{% else %}
        <div class="card">
            <p>No registered servers found.</p>
        </div>
{% endif %}

{% endblock %}