# Operating System Files
.DS_Store
Thumbs.db
Desktop.ini

# Editor Files
.vscode/
.idea/

# Environment Variables / Secrets
.env
.env.*
*.key
*.pem
credentials.txt
secrets.txt

# Database Backups
*.dump
*.backup
*.sql.backup

# Logs
*.log

# Temporary Files
*.tmp
temp/
tmp/

# Python
__pycache__/
*.pyc
.venv/
venv/
applications/python_client/venv/

# Go
bin/

# Rust
target/

# Node
node_modules/
