[Unit]
Description=Run Ubuntu SQL Server Go Agent every 15 minutes

[Timer]
OnBootSec=2min
OnCalendar=*:0/15
Persistent=true
Unit=ubuntu-sql-agent.service

[Install]
WantedBy=timers.target