[Unit]
Description=Run Ubuntu SQL Server Go Agent every 23 hours

[Timer]
OnBootSec=2min
OnUnitActiveSec=23h
Persistent=true
Unit=ubuntu-sql-agent.service

[Install]
WantedBy=timers.target