DB_HOST=localhost
DB_PORT=5432
DB_NAME=ubuntu_sql_server
DB_USER=ubuntu_agent
DB_PASSWORD=replace_with_secure_password

API_TOKEN=24a094071578a39d9a4e56932585af7a2b5dc001e4a71ddd8f9a9e8f38d9443f

NTFY_TOPIC=

PSU_MANUFACTURER=
PSU_MODEL=
PSU_WATTS=