body {
    font-family:'Times New Roman', Times, serif;
    margin: 0;
    background: #f4f4f4;
    color: #453;
}

header {
    background: #222;
    color: black;
    padding: 25px;
}

main {
    max-width: 1100px;
    margin: 30px auto;
    padding: 0 20px;
}

.card {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.status-healthy {
    font-weight: bold;
    color: green;
}

hr {
    border: 0;
    border-top: 1px solid #ddd;
}

html {
    scroll-behavior: smooth;
}

.card a {
    margin-right: 10px;
    text-decoration: none;
}

.card a:hover {
    text-decoration: underline;
}